@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

@font-face {
  font-family: AmirGrotesk;
  src: url(font/ArminGrotesk-Regular.woff);
}
@font-face {
  font-family: AmirGroteskBlack;
  src: url(font/ArminGrotesk-UltraBold.woff);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'AmirGrotesk', 'AmirGroteskBlack';
}
h1, h2, h3, h4, h5, p {
  color: #10284b;
}
nav {
  background-color: #f6f6eb;
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-list {
  display: none;
}
.nav-list > ul > li > a {
  padding: 0.25rem 0.5rem;
}
.nav-list > ul > li > a:hover {
  box-shadow: #381fd1 0px 0px 0px, #381fd1 0px 0px 0px 2px;
  border-radius: 5px;
  transition: ease-in 0.1s;
}
.login {
  display: none;
  padding: 0.25rem 0.5rem
}
.login:hover {
  box-shadow: #381fd1 0px 0px 0px, #381fd1 0px 0px 0px 2px;
  border-radius: 5px;
  transition: ease-in 0.1s;
}
.free-trail {
  background-color: #381fd1;
  border-radius: 5px;
  padding: 0.41rem 0.75rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.free-trail:hover {
  opacity: 90%;
}
.trail-button {
  margin-left: 1.5rem;
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  margin-right: 0.75rem;
}
.logo {
  height: 32px;
}
section {
  padding: 0 1rem;
}
.library-wrapper {
  border-bottom: 1px solid #e5e5e6;
  margin: 0 1rem
}
.library {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  grid-auto-rows: 1fr;
}
.library > a {
  color: #4b4b4e;
  text-decoration: none;
  font-weight: 600;
  height: 44px;
  display: flex;
  align-items: center;
}
.library > a:first-of-type {
  color: #381fd1;
}
.library > a > button {
  margin-left: 1.25rem;
  background: none;
  color: inherit;
  border: none;
}
.library > input {
  width: 57.6vw;
  border: 2px solid #acacaf;
  border-radius: 5px;
  max-height: 44px;
  padding: 1.4rem;
}
.library-laptop > input:focus {
  outline: none;
  border-color: #381fd1;
}
.library >input::placeholder {
  color: #acacaf;
  position: relative;
  right: 1rem;
}
.heading {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading > h1 {
  font-family: 'AmirGroteskBlack';
  font-size: 3rem;
  font-weight: 900;
  line-height: 53px;
}
.heading > a {
  min-width: 86px;
  color: #381fd1;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .07em;
  text-decoration: underline;
}
.section-heading > p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
.library-resources-wrapper {
  display: flex;
  padding: 1.5rem;
  border: 1px solid #e5e5e6;
  margin-bottom: 2rem;
  border-radius: 10px;
  height: 218px;
  line-height: 1.5rem;
}
.library-resources-wrapper > a > img {
  height: 40px;
  width: 40px;
  border: 1px solid #cbcbcd;
  border-radius: 10px;
}
.library-resources-wrapper > a {
  text-decoration: none;
}
.library-resources-wrapper > a > p {
  text-transform: uppercase;
  color: #381fd1;
  font-weight: 800;
  letter-spacing: 1px;
  font-family: 'Roboto Mono';
  margin: 0.5rem 0 0.5rem;
}
.library-resources-wrapper > a > h4 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'AmirGroteskBlack';
}
.library-resources-wrapper:hover {
  border: 1px solid #acacaf;
}
.library-resources-wrapper:last-of-type {
  margin-bottom: 4rem;
}
.collections-column {
  height: 350px;
  width: 259px;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 2rem;
  transition: transform .2s;
}
.collections-column:hover {
  transform: scale(1.05);
}
.collections-column.first {
  background-image: url(images/library_collection_Collection_Boundless_Disability_Employment_c297d236d9.png);
  background-color: #f6f6eb;
}
.collections-column.second {
  background-image: url(images/library_collection_making_accessible_color_combos_42c8d90a99.png);
  background-color: #f3f2fc;
}
.collections-column.third {
  background-image: url(images/library_collection_Inclusive_Social_Media_b9669e6d39.png);
  background-color: #f6f6eb;
}
.collections-wrapper {
  display: grid;
  row-gap: 2rem;
  margin-bottom: 4rem;
}
.collections-column > a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
}
.collections-column > a > h4 {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'AmirGroteskBlack';
}
footer {
  margin-top: 10rem;
  background-color: #10284b;
  padding: 0 1.5rem;
}
.grid-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-bottom: 7rem;
}
.footer-column > p, a {
  color: #f6f6eb;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 0.8rem;
}
.footer-column > p > a:hover {
  text-decoration: underline;
}
.footer-column > p:first-child {
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer-wrapper {
  padding: 6rem 0;
}
.footer-socials {
  display: flex;
  justify-content: space-between;
  max-width: 208px;
}
.footer-socials > a {
  margin-bottom: 0;
  height: 32px;
  width: 32px;
}
.footer-socials > a > img {
  height: 32px;
  width: 32px;
}
.footer-p > p {
  color: #fedb63;
  font-family: 'Roboto Mono';
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.library-laptop {
  display: none;
}
.options > a:hover {
  color: #381fd1;
}
.product-hover {
  display: none;
}
.product-hover.active {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 11rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 900px;
  top: -1.1rem;
  width: 850px;

}
.product-hover-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.product-list {
  display: flex;
  flex-direction: column;
}
.product-list > a {
  color: #381fd1;
}
.product-list > a:hover {
  text-decoration: underline;
}
.resources-inside {
  display: none;
}
.resources-inside.active {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 790px;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  top: -1.1rem;
}

.resources-inside-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.img {
  height: 96px;
  width: 240px;
  background-image: url(images/recap.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.year-recap {
  height: 183px;
  width: 240px;
  background-color: rgb(243 232 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.year-recap-bottom {
  height: 87px;
  padding: 0.75rem;
}
.year-recap-bottom > a {
  color: #381fd1;
  font-size: 0.813rem;
  text-decoration: underline;
}
.articles-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-left: 1rem;
}
.articles-column {
  padding: 0.75rem;
  height: 92px;
  width: 242px;
  margin-bottom: 0;
}
.articles-column:hover {
  background-color: rgba(243, 232, 255, .4);
  border-radius: 5px;
}
.articles-column > h4 {
  color: #381fd1;
}
.articles-column > p {
  font-size: 0.813rem;
  font-weight: 300;
}

@media only screen and (min-width: 760px) {
  section {
    padding: 0 1.5rem;
  }
  .library-wrapper {
    margin: 0 1.5rem;
  }
  .collections-wrapper {
    grid-template-columns: repeat(auto-fill,261px);
    column-gap: 2rem;
  }
  .grid-links {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1000px) {
  .trail-button {
    display: none;
  }
  .login {
    display: inline;
  }
  .nav-list {
    display: flex;
  }
  .nav-list > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    
  }
  .nav-list > ul > li > a {
    color: #381fd1;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: 1rem;
    display: flex;
    margin-bottom: 0;
  }
  .login {
    color: #381fd1;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 1.5rem;
    font-size: 0.875rem;
    margin-left: 15rem;
  }
  .nav-wrapper {
    justify-content: left;
  }
  .nav-wrapper-wrapper {
    display: flex;
    justify-content: center;
  }
  .all-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .library-wrapper {
    display: none;
  }
  .library-laptop {
    padding: 4rem 1.5rem;
    display: flex;
    flex-direction: column;
  }
  section {
    grid-column: span 2;
  }
  .options {
    display: flex;
    flex-direction: column;
  }
  .contribute {
    margin-top: 1.5rem;
    padding: 1.5rem;
    height: 204px;
    width: 280px;
    background-color: #f3f2fc;
    border-radius: 10px;
  }
  .contribute > h4 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .contribute > p {
    margin: 0.5rem 0 1.5rem;
  }
  .submit-resource {
    background-color: #381fd1;
    height: 44px;
    border-radius: 10px;
  }
  .submit-resource > a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .submit-resource:hover {
    opacity: 90%;
  }
  .library-laptop > p {
    color: #4b4b4e;
    font-weight: 500;
    margin-bottom: 0.875rem;
    letter-spacing: 1px;
  }
  .library-laptop > input {
    height: 44px;
    width: 280px;
    border: 2px solid #acacaf;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1.4rem;
  }
  .library-laptop > input::placeholder {
    position: relative;
    right: 1rem;
  }
  .options > a:first-of-type {
    color: #381fd1;
  }
  .options > a {
    color: #4b4b4e;
    padding: 1rem 0 1rem 1.25rem;
    margin-bottom: 0;
  }
  .options > a:last-of-type > img {
    margin-left: 9.25rem;
  }
  .heading {
    padding-top: 2rem;
  }
  .library-resources-wrapper {
    max-height: 234px;
    max-width: 261px;
    padding: 1.5rem 1.5rem 2.5rem;
  }
  .library-resources-wrapper > a > h4 {
    overflow: hidden;
    width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .collections-wrapper {
    grid-template-columns: 1fr;
  }
  footer {
    margin-top: 6rem;
  }
  .footer-wrapper {
    padding: 5rem 0 ;
  }
  .footer-socials {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
  }
  .footer-socials-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-p > p {
    margin-top: 0;
  }

}
@media only screen and (min-width:1200px) {
  footer { 
    display: flex;
    justify-content: center;
  }
  .all-wrapper {
    width: 1200px;
  }
  .blocker {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
  }
  .library-laptop {
    padding: 4rem 0;
  }
}
@media only screen and (min-width: 1240px) {
  section {
    padding: 0;
  }
  .library-resources-wrapper {
    margin-bottom: 0;
  }
  .library-resources {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .collections-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-wrapper {
    width: 1160px;
  }
}